{
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "arrowParens": "always"
}
